.main-header {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: left;
  background-color: #6f5499;
}

.xingda {
  float: right;
  margin-right: 20px;
}

.xingda img {
  height: 32px;
  width: 32px;
}

.xingda a {
  font-size: 12px;
  color: #fff;
}

.main-header h1 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #fff;
}

.avatar {
  height: 48px;
  width: 48px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 10px;
  float: left;
  margin-right: 18px;
  cursor: default;
}

.teacher-info-pannel {
  font-size: 12px;
  color: #fff;
}

.teacher-info-item {
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #586069;
  border-top: 1px solid #eaecef;
}

.footer img{
  height: 30px;
  width: 30px;
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -12px;
    color: #c6cbd1;
}