
.envato-animate{
  position:absolute;
  width:20px;
  text-align:center;
  margin-left:-100px;
  margin-top: -10px;
}
.envato-animate .envato-balloon{
  width:50px;
  height:70px;
  color:#fff;
  font-size:24px;
  line-height:50px;
  position:relative;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  background:#e74c3c;
  display:inline-block;
  -webkit-animation-fill-mode:forwards;
          animation-fill-mode:forwards;
  font-family:'Varela Round',sans-serif;
}
.envato-animate .envato-balloon:after{
  width:0;
  height:0;
  left:50%;
  content:'';
  bottom:-8px;
  margin-left:-8px;
  position:absolute;
  border:8px solid transparent;
  border-bottom:8px solid #e74c3c;
}
.envato-animate .envato-balloon:nth-child(1){
  -webkit-animation:balloon 2s infinite;
          animation:balloon 2s infinite;
}
.envato-animate .envato-balloon:nth-child(2){
  background:#2ecc71;
  -webkit-animation:balloon2 1.2s infinite;
          animation:balloon2 1.2s infinite;
}
.envato-animate .envato-balloon:nth-child(2):after{border-bottom-color:#2ecc71}

.envato-animate .envato-balloon:nth-child(3){
  background:#f39c12;
  -webkit-animation:balloon3 2.1s infinite;
          animation:balloon3 2.1s infinite;
}
.envato-animate .envato-balloon:nth-child(3):after{border-bottom-color:#f39c12}

.envato-animate .envato-balloon:nth-child(4){
  background:#34495e;
  -webkit-animation:balloon4 2s infinite;
          animation:balloon4 2s infinite;
}
.envato-animate .envato-balloon:nth-child(4):after{border-bottom-color:#34495e}

.envato-animate .envato-balloon:nth-child(5){
  background:#9b59b6;
  -webkit-animation:balloon5 1.5s infinite;
          animation:balloon5 1.5s infinite;
}
.envato-animate .envato-balloon:nth-child(5):after{border-bottom-color:#9b59b6;}

.envato-animate .envato-balloon:nth-child(6){
  background:#3498db;
  -webkit-animation:balloon6 3s infinite;
          animation:balloon6 3s infinite;
}
.envato-animate .envato-balloon:nth-child(6):after{border-bottom-color:#3498db;}
.envato-animate .envato-balloon:nth-child(7){
  -webkit-animation:balloon 2s infinite;
          animation:balloon 2s infinite;
}
@-webkit-keyframes balloon{
  0%{
    -webkit-transform:translateY(0) rotate(0);
            transform:translateY(0) rotate(0);
  }
  50%{
    -webkit-transform:translateY(-10px) rotate(5deg);
            transform:translateY(-10px) rotate(5deg);
  }
  100%{
    -webkit-transform:translateY(0) rotate(0);
            transform:translateY(0) rotate(0);
  }
}

@keyframes balloon{
  0%{
    -webkit-transform:translateY(0) rotate(0);
            transform:translateY(0) rotate(0);
  }
  50%{
    -webkit-transform:translateY(-10px) rotate(5deg);
            transform:translateY(-10px) rotate(5deg);
  }
  100%{
    -webkit-transform:translateY(0) rotate(0);
            transform:translateY(0) rotate(0);
  }
}
@-webkit-keyframes balloon2{
  0%,
  100%{
    -webkit-transform:translate(5px,-5px) rotate(2deg);
            transform:translate(5px,-5px) rotate(2deg);
  }
  50%{
    -webkit-transform:translate(-10px,5px) rotate(-10deg);
            transform:translate(-10px,5px) rotate(-10deg);
  }
}
@keyframes balloon2{
  0%,
  100%{
    -webkit-transform:translate(5px,-5px) rotate(2deg);
            transform:translate(5px,-5px) rotate(2deg);
  }
  50%{
    -webkit-transform:translate(-10px,5px) rotate(-10deg);
            transform:translate(-10px,5px) rotate(-10deg);
  }
}
@-webkit-keyframes balloon3{
  0%,
  100%{
    -webkit-transform:translate(0,-5px) rotate(2deg);
            transform:translate(0,-5px) rotate(2deg);
  }
  50%{
    -webkit-transform:translate(0,10px) rotate(-2deg);
            transform:translate(0,10px) rotate(-2deg);
  }
}
@keyframes balloon3{
  0%,
  100%{
    -webkit-transform:translate(0,-5px) rotate(2deg);
            transform:translate(0,-5px) rotate(2deg);
  }
  50%{
    -webkit-transform:translate(0,10px) rotate(-2deg);
            transform:translate(0,10px) rotate(-2deg);
  }
}
@-webkit-keyframes balloon4{
  0%,
  100%{
    -webkit-transform:translate(-5px,-15px) rotate(2deg);
            transform:translate(-5px,-15px) rotate(2deg);
  }
  50%{
    -webkit-transform:translate(10px,5px) rotate(-8deg);
            transform:translate(10px,5px) rotate(-8deg);
  }
}
@keyframes balloon4{
  0%,
  100%{
    -webkit-transform:translate(-5px,-15px) rotate(2deg);
            transform:translate(-5px,-15px) rotate(2deg);
  }
  50%{
    -webkit-transform:translate(10px,5px) rotate(-8deg);
            transform:translate(10px,5px) rotate(-8deg);
  }
}
@-webkit-keyframes balloon5{
  0%,
  100%{
    -webkit-transform:translate(-5px,0) rotate(2deg);
            transform:translate(-5px,0) rotate(2deg);
  }
  50%{
    -webkit-transform:translate(15px,-10px) rotate(-5deg);
            transform:translate(15px,-10px) rotate(-5deg);
  }
}
@keyframes balloon5{
  0%,
  100%{
    -webkit-transform:translate(-5px,0) rotate(2deg);
            transform:translate(-5px,0) rotate(2deg);
  }
  50%{
    -webkit-transform:translate(15px,-10px) rotate(-5deg);
            transform:translate(15px,-10px) rotate(-5deg);
  }
}
@-webkit-keyframes balloon6{
  0%,
  100%{
    -webkit-transform:translate(0,0) rotate(2deg);
            transform:translate(0,0) rotate(2deg);
  }
  50%{
    -webkit-transform:translate(0,-20px) rotate(-5deg);
            transform:translate(0,-20px) rotate(-5deg);
  }
}
@keyframes balloon6{
  0%,
  100%{
    -webkit-transform:translate(0,0) rotate(2deg);
            transform:translate(0,0) rotate(2deg);
  }
  50%{
    -webkit-transform:translate(0,-20px) rotate(-5deg);
            transform:translate(0,-20px) rotate(-5deg);
  }
}