<head>
  <title>
    <%= title %>
  </title>
  <link rel="icon" type="image/png" href="//o4a7cbihz.qnssl.com/picture/b23784eb-f1e4-44ea-811b-af333e4978bc" sizes="32x32">
  <link rel='stylesheet' href='/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>