<div class="main-header">
  <div class="container">
    <h1 class="title">
      <%= title %>
    </h1>
    <div>
      <img class="avatar" src="https://ws1.sinaimg.cn/large/006tKfTcgy1fi7s7vo8y0j30hs0hsaay.jpg">
      </img>
      <div class="teacher-info-pannel">
        <p class="teacher-info-item">讲师: <span><%= teacher %></span></p>
        <p class="teacher-info-item">授课时间: <span><%= startTime %> - <%= endTime %></span></p>
      </div>
    </div>
  </div>

  <div class="xingda">
    <img src="https://o4a7cbihz.qnssl.com/picture/57140c0c-4ffa-4dde-9757-570b53f96796"></img>
    <a href="https://xinshengdaxue.com">新生大学出品</a>
  </div>
</div>
