<div class="col-md-4">
  <div class="row">
    <a class="thumbnail" href="https://www.xinshengdaxue.com/lessons/details?course_id=40">
      <img src="https://o4a7cbihz.qnssl.com/avatar/614bb7be-491b-4c23-be79-0bb504ec54f6">
      <div class="caption">
        <p>课程介绍</p>
      </div>
    </a>
  </div>

  <div style="margin-bottom: 15px">
    <a type="button" class="btn btn-default btn-block" href="https://github.com/xugy0926/getting-started-with-javascript">
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> getting-started-with-javascript
    </a>
    <a type="button" class="btn btn-default btn-block" href="https://github.com/xugy0926/words-from-the-heart">
      <span class="glyphicon glyphicon-heart" aria-hidden="true">
      </span> words-from-the-heart
    </a>
  </div>
</div>