<!DOCTYPE html>
<html>

<%- include('_head') %>

  <body>
    <div id="app">
      <%- include('_nav') %>
        <div class="container">
          <div class="col-md-8 col-md-offset-2">
            <div class="well">同学，想对我说点什么吗？想对我说心里话可没那么容易哟。你只有把第九节课的作业搞明白了才知道怎么对我说心里话。我等着你</div>
            <div class="panel panel-default">
              <div class="panel-body markdown-body">
                <div class="media media-x" v-for="item in comments">
                  <div class="media-body">
                    <h4 class="media-heading">{{ item.name }}</h4>
                    <div v-html="item.content"></div>
                    <!-- <span class="glyphicon glyphicon glyphicon-share-alt" aria-hidden="true"><div class="comment" v-html="item.content"></span></div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">我的名字</label>
                    <input type="text" class="form-control" v-model="name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">我在新大注册的手机号或邮箱</label>
                    <input type="text" class="form-control" v-model="account">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">我想说</label>
                    <textarea class="form-control" rows="10" v-model="content"></textarea>
                  </div>
                  <button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="submit">提交</button>
                </form>
              </div>
            </div>
          </div> -->
        </div>
    </div>
  </body>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        comments: [],
        name: '',
        account: '',
        content: '',
        comment: '',
      },
      methods: {
        fetchComment: function () {
          var that = this;
          $.get('/sayToTeacher/list', function (result) {
            if (!result || !result.code) {
              alert('获取列表失败');
            } else {
              that.comments = result.data;
            }
          })
        },
        submit: function () {
          var that = this;
          if (!this.name || !this.account || !this.content) {
            alert('输入框不能为空');
            return;
          }

          $.post('/sayToTeacher/add', { name: this.name, account: this.account, content: this.content }, function (result) {
            if (!result || !result.code) {
              alert(result.message);
            } else {
              that.name = '';
              that.account = '';
              that.content = '';
              that.comments.push(result.data);
            }
          })
        },
        submit: function () {
          var that = this;
          if (!this.name || !this.account || !this.content) {
            alert('输入框不能为空');
            return;
          }

          $.post('/sayToTeacher/addComment', { account: this.account, comment: this.comment }, function (result) {
            if (!result || !result.code) {
              alert(result.message);
            } else {
              that.name = '';
              that.account = '';
              that.content = '';
              that.comment = '';
            }
          })
        }
      }
    });

    app.fetchComment();
  </script>

</html>